server:
  port: 8081
spring:
  application:
    name: notification-service
  jackson:
    serialization:
      write-dates-as-timestamps: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: messagedeneme1@gmail.com
    password: rymr ndjh uuqa zjva
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

config:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: rabbitmq
    password: rabbitmq
    queues:
      notification: notification

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/



