services:
  postgres:
    image: postgres:16.3-alpine
    environment:
      POSTGRES_DB: employee_registration
      POSTGRES_USER: ecemgc
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  eureka-server:
    image: eureka-server:v1
    ports:
      - "8761:8761"

  employee-service:
    image: employee-service:v1
    depends_on:
      - postgres
      - rabbitmq
      - eureka-server
    ports:
      - "8080:8080"

  notification-service:
    image: notification-service:v1
    depends_on:
      - rabbitmq
      - eureka-server
    ports:
      - "8081:8081"

  front:
    build:
      context: ./employee-registration-frontend
      dockerfile: Dockerfile 
    depends_on:
      - employee-service
    ports:
      - "80:80"


